<%- include("./partials/header") %>
    <h1>Secret Page</h1>

    <h1>
        Hi <%= user.name %>
    </h1>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Logout</button>
    </form>

    <%- include("./partials/footer") %>